  <fieldset>
    <legend>Describe the milestone.</legend>
    
    <div class="control-group">
      <%= form.label :name, :class => 'control-label required' %>
      <div class="controls">
        <%= form.text_field :name, :class => 'heading' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= form.label :due_by, :class => 'control-label required' %>
      <div class="controls">
        <%= form.text_field :due_by %>
      </div>
    </div>
    
    <div class="control-group">
      <%= form.label :completed_on, :class => 'control-label' %> (if applicable)
      <div class="controls">
        <%= form.text_field :completed_on %>
      </div>
    </div>
    
    <div class="control-group">
      <%= form.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= form.text_area :description, :size => '40x10' %>
      </div>
    </div>
  
  </fieldset>

  <div class="form-actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
