<% provide :title, "New Project" %>

<% provide :toolbox, "<li><a href=\"/help/creating-a-project\">New project help</a></li>".html_safe %>

<%= form_for @project do |form| %>
  <fieldset>
    <legend>These fields are required and describe the project.</legend>
    
    <div class="field">
    <%= form.label :name, :class => "required" %><br/>
    <%= form.text_field :name, :class => "heading" %>
    </div>
    
    <div class="field">
    <%= form.label :desc, :class => "required" %><br/>
    <%= form.text_area :desc, :size => "50x10" %>
    </div>
  </fieldset>
  <fieldset>
    <legend>These fields, if specified, can describe the project's initial version.</legend>
    <%= fields_for :version do |version_fields| %>
      <div class="field">
      <%= version_fields.label :codename %><br/>
      <%= version_fields.text_field :codename, :class => "heading" %>
      </div>
      
      <div class="field">
      <%= version_fields.label :name, :class => "required" %><br/>
      <%= version_fields.text_field :name %>
      </div>
    <% end %>
  </fieldset>
  
  <%= form.submit %>
<% end %>
