<% provide :title, @project.name %>

<%
  content_for :toolbox, "<li>#{link_to 'Add a version', new_project_version_path(@project)}</li>".html_safe if can? :edit, @project
  content_for :toolbox, "<li>#{link_to 'Edit project details', edit_project_path(@project)}</li>".html_safe if can? :edit, @project
  content_for :toolbox, "<li><a href='/'>Remove this project</a></li>".html_safe if can? :destroy, @project
%>

    <h1><%= @project.name %></h1>
    <div id="desc"><%= @project.desc %></div>

    <h3>Versions</h3>
    <dl>
    <% @project.versions.each do |version| %>
      <dt>
        <%= link_to version.name, version %> <%= "(#{version.codename})" if !version.codename.nil? %>
        <%= " &mdash; <b>Next Version For Release</b><br/>".html_safe if (next_version_of @project) === version %>
        <%= " &mdash; <b>Current Release</b><br/>".html_safe if (prior_version_of @project) === version %>
      </dt>
      <dd></dd>
    <% end %>
    </dl>