<% provide :title, @project.name %>

<%
  content_for :toolbox, "<li>#{link_to raw('<b>Add</b> a version'), new_project_version_path(@project)}</li>".html_safe if can? :edit, @project
  content_for :toolbox, "<li>#{link_to raw('<b>Add</b> a story'), new_project_story_path(@project)}</li>".html_safe if can? :create, Story
  content_for :toolbox, "<li>#{link_to raw('<b>Edit</b> project details'), edit_project_path(@project)}</li>".html_safe if can? :edit, @project
  content_for :toolbox, "<li>#{link_to raw('<b>Remove</b> this project'), project_path, :confirm => 'Are you sure you want to remove this project?', :method => :delete}</li>".html_safe if can? :destroy, @project
  
  provide :breadcrumbs, "#{ link_to 'Projects', projects_path } >>".html_safe
%>

    <h1><%= @project.name %></h1>
    <div id="desc"><%= @project.desc %></div>

    <h3>Versions</h3>
    <dl>
    <% @project.versions.each do |version| %>
      <dt>
        <%= link_to version.name, version %> <%= "(#{version.codename})" if !version.codename.empty? %>
        <%= " &mdash; <b>Next Version For Release</b><br/>".html_safe if (next_version_of @project) === version %>
        <%= " &mdash; <b>Current Release</b><br/>".html_safe if (prior_version_of @project) === version %>
      </dt>
      <% if version.actual_release_date == nil %>
      <dd><%= active_milestones_for(version) %> milestones to implement<%= ", <span class=\"past-due\">#{past_due_milestones_for(version)} past due</span>".html_safe if (past_due_milestones_for(version) > 0)%></dd>
      <% end %>
    <% end %>
    </dl>
    
    <h3>Stories</h3>
    <dl>
    <% @project.stories.each do |story| %>
      <dt><%= link_to story.name, story %></dt>
      <dd></dd>
    <% end %>
    </dl>
