    <input type="hidden" name="version[project_id]" value="<%= project.id %>"/>
    <fieldset>
      <legend>Describe the version.</legend>
      
      <div class="control-group">
        <%= form.label :codename, :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :codename, :class => "heading" %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :name, :class => "control-label required" %>
        <div class="controls">
          <%= form.text_field :name %>
        </div>
      </div>
    </fieldset>
    
    <fieldset>
      <div class="control-group">
        <%= form.label :target_release_date, :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :target_release_date %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :actual_release_date, :class => "control-label" %> (if applicable)
        <div class="controls">
          <%= form.text_field :actual_release_date %>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
