<div id="header" class="constraint">
  <h1><%= link_to 'Spark', root_path, :class => "nostyle" %></h1>
  <nav>
    <% if logged_in? %>
      <%= link_to "#{current_user}", '/self' %>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Dashboard', '/' %>
      <%= link_to 'About', '/dashboard/about' %>
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Home', '/' %>
      <%= link_to 'Log In', login_path %>
    <% end %>
  </nav>
</div>
<% if flash.any? %>
  <div class="constraint">
    <% flash.each do |type,message| %>
      <%= content_tag(:div, message, :class => "flash #{type} constraint") %>
    <% end %>
  </div>
<% end %>
