<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= Settings.instance_name %> | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="content" class="constraint">
    <div id="main" class="seventy fl">
      <%= yield :breadcrumbs %>
      <%= yield %>
    </div>
    <%= render 'layouts/toolbox' %>
  </div>
  <section id="bottom" class="constraint">
    &copy; 2012 <%= Settings.org_name %>.
  </section>
</body>
</html>
