<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= Settings.instance_name %> | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/toolbox' %>
  <section id="main" <%= raw "style=\"width:75%;\"" if content_for? :toolbox %> >
    <%= yield %>
  </section>
  <section id="bottom">
    Copyright &copy; 2012 <%= Settings.org_name %>.  The contents of <%= Settings.instance_name %> may be
    confidential and/or proprietary.  If you have any legal questions, contact your project's maintainer.
  </section>
</body>
</html>
